<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>

<body>
    <%- include ('partials/header.ejs') %>

    <h1><%=timezone%></h1>
    <p>Weather at this moment: <%=summary%></p>

    <a href="/">back</a>

    <%- include ('partials/footer.ejs') %>
</body>

</html>