<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>

<body>
    <section>
        <h1><%=timezone%></h1>
        <p>Currently: <%=summary%></p>
        <ul>
            <li>Windspeed: <%=windSpeed%></li>
            <li>UV-index: <%=uvIndex%></li>
            <li>Cloud cover: <%=cloudCover%></li>
        </ul>
        <a href="/">back</a>
    </section>
    <%- include ('partials/footer.ejs') %>
</body>

</html>