<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>

<body>
  <%- include ('partials/header.ejs') %>

  <div class="main-content">
    <h2>Popular spots</h2>
    <% locations.forEach(location => { %>
    <section>
      <h3><%= location.timezone %></h3>
      <img src="<%= location.background %>" />
      <br />
      <a href="/details/<%= location.lat %>/<%= location.long %>">Details</a>
      <br />
    </section>
    <% }); %>
  </div>

  <%- include ('partials/footer.ejs') %>
</body>

</html>