<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head.ejs') %>

<body>
  <%- include ('partials/header.ejs') %>

  <h1>Location: <%=timezone%></h1>
  <h1>Summary: <%=summary%></h1>
  <a href="/details">Bekijk</a>

  <%- include ('partials/footer.ejs') %>
</body>

</html>